@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--verydarkblue) !important;
	padding: 0;
	height: 100vh;
	display: flex;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 3rem);
	left: 50%;
	transform: translateX(-50%);
	text-align: center !important; 
	font-size: rem(15) !important;

	@include breakpoint(large) {
		padding: 0;
		height: 100vh;
		display: flex !important;
	}
}
