:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--darkdesaturatedblue: hsl(244, 38%, 16%);
	--verydarkblue: hsl(233, 47%, 7%);
	--slightlytransparentwhite1: hsla(0, 0%, 100%, 0.75);
	--slightlytransparentwhite2: hsla(0, 0%, 100%, 0.6);
	--softviolet: hsl(277, 64%, 61%);


}
